@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
    font-family: "Quicksand", sans-serif;
    color: #671D4E;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: rgb(240, 240, 240);
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 9999999999999999999999999;
    text-align: center;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    margin-bottom: 50px;
}

.header .icon {
    float: left;
    margin-left: 10px;
}

.header .body {
    font-weight: 700;
}


/* Gradients */

.color-1 {
    background-image: linear-gradient( to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.color-2 {
    background-image: linear-gradient( to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.color-3 {
    background-image: linear-gradient( to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.color-4 {
    background-image: linear-gradient( to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.color-5 {
    background-image: linear-gradient( to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.color-6 {
    background-image: linear-gradient( to right, #009245, #fcee21, #00a8c5, #d9e021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.color-7 {
    background-image: linear-gradient( to right, #6253e1, #852d91, #a3a1ff, #f24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.color-8 {
    background-image: linear-gradient( to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.color-9 {
    background-image: linear-gradient( to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.color-10 {
    background-image: linear-gradient( to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.color-11 {
    background-image: linear-gradient( to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.color-untick {
    background: #cad2dc;
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.form {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.8s;
    align-items: center;
    padding-right: 10px;
}

.form#center {
    margin: auto;
    margin-top: 15%;
    margin-bottom: 5%;
    width: 350px;
    border: none;
    padding-left: 10px;
}

.input-container {
    margin-top: 50px;
}

.input-part {
    padding-right: 30px;
}


/* Input */

input[type=text] {
    display: block;
    background-color: white;
    border-radius: 50px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100% !important;
    height: 50px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 1.25em;
    outline: none;
    border: 2px transparent solid;
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    resize: none;
    position: relative;
    letter-spacing: 0.1em;
    transition: filter 0.2s linear, transform 0.2s, all 0.25s ease-in-out;
    will-change: transform;
    text-align: left;
    color: #7ba0ca;
}

input:focus {
    outline: none;
    resize: none;
    filter: brightness(0.95);
    border: 2px #7ba0ca solid;
    color: #7ba0ca;
}

input.fill-it {
    background-color: #ff99c3;
    outline: none;
    resize: none;
}

input.fill-it::placeholder {
    color: white;
}

input.fill-it:focus {
    filter: brightness(0.95);
    outline: none;
    resize: none;
}

.iconInp {
    position: relative;
}

.iconInp i {
    margin-left: 30px;
    position: absolute;
    top: 17px;
    color: #939393;
}

.btn-hover {
    width: 70%;
    font-size: large;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align: center;
    margin-left: 15%;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all 0.3s, filter 2ms;
    -o-transition: all 0.3s, filter 2ms;
    -webkit-transition: all 0.3s, filter 2ms;
    transition: all 0.3s, filter 2ms;
    z-index: 2001;
}

.btn-hover.check {
    background-image: linear-gradient( to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.btn-hover:active {
    transform: scale(0.97);
    filter: brightness(0.95);
}

.btn-hover:focus {
    outline: none;
}

.er-in {
    visibility: hidden;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    margin-left: -20px;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    font-size: 17px;
}

.er-in.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: -30px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: -30px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 0px;
        opacity: 1;
    }
    to {
        bottom: -30px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 0px;
        opacity: 1;
    }
    to {
        bottom: -30px;
        opacity: 0;
    }
}

fieldset {
    border: none;
}

legend {
    font-size: 0;
}

input[type=number] {
    width: 50px;
    height: 50px;
    font-size: larger;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    border: 2px transparent solid;
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    transition: filter 0.2s linear, transform 0.2s, all 0.25s ease-in-out;
    color: #7ba0ca;
    display: inline-block;
}

@media only screen and (min-width: 600px) {
    form {
        padding: 4rem 3rem;
    }
    input {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }
    input+input {
        margin-left: 1rem;
    }
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.resend-code {
    text-align: center;
    font-weight: 600;
    color: #9E005D;
    padding: 10px;
    width: 100px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
    transition: all .2s;
}

.resend-code:active {
    color: #8C85D7;
}

.return {
    text-align: center;
    font-weight: 600;
    color: #9E005D;
    padding: 10px;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    transition: all .2s;
}

.return:active {
    color: #8C85D7;
}

.place {
    position: fixed;
    left: 50%;
    bottom: 50px;
    top: 20px;
}