@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background: #5C48CE;
}

.countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 140px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  transform: translateX(-50%);
}
.countdown__colored-blocks {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  padding: 10px;
  border-radius: 20px;
  perspective: 1000px;
  -webkit-animation: countdownAnim 4s ease-in-out infinite, contAnim 4s infinite;
          animation: countdownAnim 4s ease-in-out infinite, contAnim 4s infinite;
}
.countdown__colored-blocks-rotater {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-animation: rotation 1.3s linear infinite;
          animation: rotation 1.3s linear infinite;
}
.countdown__colored-blocks-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #32386D;
  border-radius: inherit;
}
.countdown__colored-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  transform-origin: 0 0;
}
.countdown__colored-block:nth-child(1) {
  transform: rotate(0deg) skewX(-30deg);
  background-color: #FD3359;
}
.countdown__colored-block:nth-child(2) {
  transform: rotate(120deg) skewX(-30deg);
  background-color: #F4D302;
}
.countdown__colored-block:nth-child(3) {
  transform: rotate(240deg) skewX(-30deg);
  background-color: #21BDFF;
}
.countdown__inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.countdown__numbers {
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.countdown__numbers-path {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 518.055065155;
  stroke-dashoffset: 0;
  -webkit-animation: numAnim 4s ease-in-out infinite;
          animation: numAnim 4s ease-in-out infinite;
  opacity: 0;
}
.countdown__text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  text-align: center;
  line-height: 140px;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  transform: translateX(10px);
  -webkit-animation: hideText 4s infinite;
          animation: hideText 4s infinite;
}

@-webkit-keyframes contAnim {
  15%, 100% {
    margin-left: -250px;
    width: 500px;
  }
  25%, 90% {
    margin-left: -70px;
    width: 140px;
  }
}

@keyframes contAnim {
  15%, 100% {
    margin-left: -250px;
    width: 500px;
  }
  25%, 90% {
    margin-left: -70px;
    width: 140px;
  }
}
@-webkit-keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%, 41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%, 66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%, 100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%, 41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%, 66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%, 100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes countdownAnim {
  15% {
    border-radius: 20px;
    transform: rotate(0);
  }
  30%, 43% {
    border-radius: 50%;
    transform: rotate(360deg);
  }
  52%, 65% {
    border-radius: 0;
    transform: rotate(720deg);
  }
  78%, 90% {
    border-radius: 50%;
    transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    transform: rotate(1440deg);
  }
}
@keyframes countdownAnim {
  15% {
    border-radius: 20px;
    transform: rotate(0);
  }
  30%, 43% {
    border-radius: 50%;
    transform: rotate(360deg);
  }
  52%, 65% {
    border-radius: 0;
    transform: rotate(720deg);
  }
  78%, 90% {
    border-radius: 50%;
    transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    transform: rotate(1440deg);
  }
}
@-webkit-keyframes hideText {
  15%, 100% {
    opacity: 1;
  }
  20%, 96% {
    opacity: 0;
  }
}
@keyframes hideText {
  15%, 100% {
    opacity: 1;
  }
  20%, 96% {
    opacity: 0;
  }
}

.overlay{
  background: black;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 99999999999999999999999999;
}

.overlay h1{
  color: white;
  position: fixed;
  top: 40%;
  left: 50%;
  margin: auto;
  font-size: xx-large;
}

.slide-bottom {
	-webkit-animation: slide-bottom 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards;
	animation: slide-bottom 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.cpuntD{
color: white;
font-size: xx-large;
position: absolute;
top: -150px;
left: 35%;
align-self: center;
align-items: center;
font-weight: 900;
}

.question{
color: white;
font-size: xx-large;
position: relative;
top: -150px;
left: 35%;
align-self: center;
align-items: center;
font-weight: 900;
}

#question{
color: white;
font-weight: 900;
margin: 0 15px;
}

.rotate-center {
	-webkit-animation: rotate-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	        animation: rotate-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.options{
  position: relative;
  top: 200px;
  color: black;
}

.white{
  background-color: #fff;
}

.options .option{
  color: black;
  margin: auto;
  width: 80%;
  border: none;
  padding: 25px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all .2s;
}

.options .option:active{
  transform: scale(97%);
}

.option .no{
  color: white;
  float: left;
  margin: auto;
  margin-left: -5px;
  margin-top: -7px;
  font-weight: 700px;
  padding: 10px 15px;
  border-radius: 20px;
}

.no.A{
  background: #F9C33A;
}

.no.B{
  background: #55D2FC;
}

.no.C{
  background: #A4EA67;
}

.no.D{
  background: #E77D79;
}

.option .text{
  color: black;
  font-weight: 700px;
}

.head-question{
  width: 100%;
  overflow: auto;
}

.scale-up {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	        animation: scale-up-center 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

.bottom{
  margin-bottom: 50px;
}

#input{
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px;
  position: relative;
  top: 200px;
  color: black;
}

input {
  display: block;
  background-color: white;
  border-radius: 50px;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100% !important;
  height: 50px;
  padding: 20px;
  font-size: 1.25em;
  outline: none;
  border: none;
  resize: none;
  position: relative;
  letter-spacing: 0.1em;
  transition: filter 0.2s linear, transform 0.2s, all 0.25s ease-in-out;
  will-change: transform;
  text-align: left;
  color: #9E005D;
  margin-bottom: 200px;
}

input:focus {
  outline: none;
  resize: none;
  filter: brightness(0.95);
}

.Next{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #1DAAFF;
  font-size: larger;
  font-weight: 600;
  padding: 15px 0px;
  transition: all .3s;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.TF{
  position: relative;
  top: 270px;
  color: black;
  display: flex;
  margin: auto;
  margin-bottom: 200px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
}

.TF .TF_option{
  background-color: #fff;
  color: black;
  width: 40%;
  border: none;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all .2s;
  margin: 1em;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.TF .TF_option:active{
transform: scale(97%);
}

.TF .TF_option.right{
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.TF .TF_option.left{
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.TF_option .no{
  color: white;
  float: left;
  margin: auto;
  margin-left: -30px;
  margin-top: -30px;
  font-weight: 700px;
  padding: 10px 15px;
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 15px;
}

.TF_option .text{
  color: black;
  font-size: x-large;
  font-weight: 700;
}

.hide{
  display: none;
}

.shake {
  background: #FF5A5A;
  animation: shake .5s linear;
  -webkit-animation: shake .5s linear;
}

 @keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.correct{
  background: #98FFC5;
  background-color: #98FFC5;
  animation: correct .5s linear;
  -webkit-animation: correct .5s linear;
}

 @keyframes correct {
    0%, 50%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%, 75%{
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
}

.correct .text, 
.shake .text{
  color: white;
}

.correct-input{
  color: #98FFC5;
  animation: correct .5s linear;
  -webkit-animation: correct .5s linear;
}

.shake-input{
  animation: shake .5s linear;
  -webkit-animation: shake .5s linear;
  color: #FF5A5A;
}

.transplate{
  background: transparent;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999999999999999999999999999999999999999;
}

.endlay{
  background: rgb(65, 53, 131);
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999999999999999999999999999999999999999;
}

.button{
  padding: 20px;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: 700;
  transition: all .2s;
}

.button:active{
  transition: all .2s;
  transform: scale(97%);
}

.button#result{
  margin-top: 50px;
  background: rgb(0, 255, 225);
}

.button#exit{
  background: transparent;
  border: 2px solid #9AE5DC;
}

.notice{
  margin-top: 20px;
}

.notice2{
  margin-top: 80px;
}

.header{
  position: fixed;
  top: 0px;
  left: 0px;
  background: transparent;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 20px;
  z-index: 99999;
}

.header img{
  width: 50px;
}